<div class="widget adwidget subscribewidget">
    <h3 class="block-title"><span>@Translate("abonare","Abonare la newsletter") </span></h3>
    @GetValue("ParagraphText")
     	
    @GetValue("ParagraphModule") 
</div>