@MasterPageFile("Master.cshtml")

<div class="jx-container galerie-foto"> 

<!--Sections Begin-->
<div class="dwcontent" id="section" title="Sections" data-settings="unwrap=true"></div>
<!--Sections End-->

</div>