@MasterPageFile("Master.cshtml")
					
	<!-- BOF Services Box -->
	<div id="" class="jx-container"> 

		<!--Section Begin-->
		<div class="dwcontent" id="section1" title="Section 1" data-settings="unwrap=true"></div>
		<!--Section End-->

		<!--Section List Begin-->
		<div class="dwcontent" id="sectionList" title="Section List" data-settings="unwrap=true"></div>
		<!--Section List End-->
			
	</div>
	<!-- EOF Services Box --> 

	<!--Section Begin-->
	<div class="dwcontent" id="section2" title="Sections" data-settings="unwrap=true"></div>
	<!--Section End-->

	