<ul class="header-bar-right">
					<li><a href='@Pageview.Area.Item["FacebookLink"]'><i class="fa fa-facebook"></i></a></li>
					<li><a href='@Pageview.Area.Item["TwitterLink"]'><i class="fa fa-twitter"></i></a></li>
					<li><a href='@Pageview.Area.Item["YoutubeLink"]'><i class="fa fa-youtube"></i></a></li>
					<li><a href="">Contact</a></li>
					<li><a href="http://www.tehnicmedia.ro"><span>Organizator</span><img src="images/dm_header_logo5.png"></a></li>
				</ul>