@MasterPageFile("Master.cshtml")

<div role="main" class="main">
	<div class="container with-sidebar">
		<div class="sixteen columns left jx-padding">            	
      <div class="jx-blog">
      	<!-- BOF Lista de Stiri -->
    		<div class="dwcontent" id="stiri" title="Stiri"></div> 
    		<!-- EOF Lista de Stiri -->
      </div>
    </div>
    <div id="sidebar" class="four columns right jx-padding">
    		<!-- BOF Sidebar -->
    		<div class="dwcontent" id="sidebar" title="Sidebar"></div> 
    		<!-- EOF Sidebar -->
    </div>
  </div>
</div>