@MasterPageFile("Master.cshtml")

<div class="jx-container"> 

<!--Sections Begin-->
<div class="dwcontent" id="section" title="Sections" data-settings="unwrap=true"></div>
<!--Sections End-->

@* <div class="issuuWraper"><iframe width="740" height="500" src="//e.issuu.com/embed.html#3670055/45873209" frameborder="0" allowfullscreen></iframe></div> *@

</div>