@MasterPageFile("Master.cshtml")
@GetValue("Title(Homepage)")
@GetValue("Description(Homepage)")

<div class="container"><!--Container Start-->
  <div class="row">
    <div class="col-md-12">
      
      <div class="dwcontent" id="slider" title="Slider" data-settings="unwrap=true"></div>
      
    </div>
  </div>
  

    <!--Content Start-->
    <div class="col-md-8">
      <div class="row">
        
      <div class="col-md-3">  <!--Stiri Start-->
        
       	<div class="dwcontent" id="stiri" title="Stiri" data-settings="unwrap=true"></div>
        
      </div> <!--Stiri end-->
      
      <div class="col-md-9">  <!--Main Content 1 Start-->
        <div class="dwcontent" id="maincontent1" title="Main Content 1" data-settings="unwrap=true"></div>
         
      </div><!--Main Content 1 end-->
      
      </div>
      
      <div class="row"> <!--Main Content 2 Start-->
        <div class="col-md-12">
          <div class="dwcontent" id="maincontent2" title="Main Content 2" data-settings="unwrap=true"></div>              
        </div>        
      </div><!--Main Content 2 end-->
     
      <div class="row"> <!--Main Content 3 Start-->
        <div class="col-md-6">
          <div class="dwcontent" id="maincontent3" title="Main Content 3" data-settings="unwrap=true"></div>              
        </div>   <!--Main Content 3 end-->
        <div class="col-md-6"><!--Main Content 4 Start-->
          <div class="dwcontent" id="maincontent4" title="Main Content 4" data-settings="unwrap=true"></div>              
        </div>     <!--Main Content 4 end-->
      </div>
    </div><!--Content End-->
    
    
   
    <div class="col-md-4" ><!--Sidebar Start-->
      <div class="dwcontent" id="anaaremere" title="Sidebar" data-settings="unwrap=true"></div>
     </div>      
   <!--Sidebar end-->
  
 
  
  
</div><!--Container End-->



