@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering
@using Dynamicweb.Content
@using System.Linq;
@using System.Web;

@Include("../Custom/GlobalVariables.cshtml")
@Include("../Includes/GetImage_new.cshtml")

<div>
    <div class="row">
    </div>
</div>
