@MasterPageFile("Master.cshtml")
<div class="col-xs-12">
    <h2>Comentariul dumneavoastra a fost trimis spre aprobare</h2>
    <button onclick="goBack()" class="btn btn-primary pull-left">Inapoi la articol</button>
</div>
<script>
   function goBack() {
            window.history.back();
        }
</script>
