@Include("../../Custom/GlobalVariables.cshtml")

@if(GetBoolean("ItemPublisher:Items.Any")){

  	foreach(LoopItem item in GetLoop("ItemPublisher:Items.List")){
@item.TemplateTags()
	@*string itemTitle = item.GetString("ItemPublisher:Item.Titlu.Value");
    string itemURL = item.GetString("ItemPublisher:Item.Url");
   	string itemVisits = item.GetString("ItemPublisher:Item.Visits.Value");
	string itemSummary = item.GetString("ItemPublisher:Item.Sumar");
                        <article class="widget-post clearfix">
                                <h3>
                                    <a href='@itemURL'>@itemTitle</a>
                                </h3>
                                <p>
                                   @itemSummary
                                </p>
							<a class="btn btn-default" href="@itemURL" type="button">@Translate("citeste","Citeste")</a>
                        </article>*@
    }
}
