@using Dynamicweb.Frontend
@using System.Text.RegularExpressions
@Include("../../Custom/GlobalVariables.cshtml")
@Include("../../Includes/ArticleHelper.cshtml")



@if(GetBoolean("ItemPublisher:Items.Any")){
<div class="row">
    
    @foreach(var item in GetLoop("ItemPublisher:Items.List")){
        string articleTitle = item.GetString("ItemPublisher:Item.Titlu.Value");
        string itemAuthor = "";
        var articleDate = item.GetDate("ItemPublisher:Item.Data");
        string articleLink = Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(item.GetString("ItemPublisher:Item.Url"));
        string articleImage = item.GetString("ItemPublisher:Item.ImaginePrincipala.Value");
        string articleExcerpt = item.GetString("ItemPublisher:Item.Sumar");
        articleExcerpt = Regex.Replace(articleExcerpt, @"<[^>]*>", String.Empty);
        string articleVisits = item.GetString("ItemPublisher:Item.Visits.Value");
        bool itemConditionVisits = item.GetBoolean("ItemPublisher:Item.Vizite");
        string itemAutori = item.GetString("ItemPublisher:Item.Autori.Value");
        string itemSections = "";
        List<Autor> articleAutori = GetAutori(itemAutori);
        List<Sectiune> articleSections = GetSectiuni(itemSections);

      @Include("../../Lists/2col-image-summary.cshtml")

	}
</div>
}

