@using Dynamicweb.Frontend
@{
    int toateStirile = GetPageIdByNavigationTag("ToateStirile");
    var pageId = GetPageIdByNavigationTag("ArticlesFeed");
    var articlesIDs = "";
    foreach (LoopItem item in GetLoop("ItemPublisher:Items.List"))
    {
        articlesIDs += item.GetString("ItemPublisher:Item.Field.PageId") + ",";
    }
}

<div class="news-feed">  
    <h3 class="block-title"><span>@Translate("ultimelestiri", "ULTIMELE STIRI")</span></h3>
  
    @*if(GetBoolean("ItemPublisher:Items.Any")){*@
    <ul class="widget-content handlebars-wrapper" id="UltimeleStiri" data-template="UltimeleStiriTemplate" data-json-feed="/Default.aspx?ID=@pageId&PageID=@articlesIDs">
        <div class="loader"></div>
        @*HANDLEBARS TEMPLATE GOES HERE*@
    </ul>
</div>   
    
<script id="UltimeleStiriTemplate" type="text/x-handlebars-template">
  {{#ArticlesContainer}}
   {{#each Article}}
       <li>
           <article>
               <h3><a href="/Default.aspx?ID={{pagePageID}}">{{itemTitlu}}</a></h3>
               <p><span><i class="fa fa-clock-o"></i> {{itemData}}</span></p>
           </article>
       </li>
   {{/each}}
  {{/ArticlesContainer}}
   <a href="/Default.aspx?ID=@toateStirile" class="read-more">@Translate("Toate stirile", "Toate stirile")</a>
</script>
    

   

