@Include("../../Custom/GlobalVariables.cshtml")
@Include("/Files/Templates/Designs/TTonline/Includes/GetImage_new.cshtml")

@if(GetBoolean("ItemPublisher:Items.Any")){
  	foreach(LoopItem item in GetLoop("ItemPublisher:Items.List")){
	

	string mainImageRaw = item.GetString("ItemPublisher:Item.ImaginePrincipala.Value");
        	string mainImage = !string.IsNullOrEmpty(mainImageRaw) ? GetImage(mainImageRaw, 95, 80) + "&bgcolor=white"  : "/Files/Images/NoImage/95x80.png";   

   	string itemTitle = item.GetString("ItemPublisher:Item.Titlu.Value");
    string itemURL = item.GetString("ItemPublisher:Item.Url");
   	string itemVisits = item.GetString("ItemPublisher:Item.Visits.Value");

    DateTime itemDateRaw = item.GetDate("ItemPublisher:Item.Data");   
    string itemDate = itemDateRaw.ToString("dd.MM.yyyy");

	//string itemDate = item.GetString("ItemPublisher:Item.Data");

    <article class="widget-post clearfix">
        <div class="simple-thumb">  
            <img src='@mainImage' alt="@itemTitle" />
        </div>
        <header>
            <h3>
                <a href='@itemURL'>@itemTitle</a>
            </h3>
            <p class="simple-share">
                <span><i class="fa fa-clock-o"></i>@itemDate</span>
            </p>
        </header>
    </article>
    }
}
