.news-title {
    background: #fff;
}
.news-details {
    color: #a9a9a9;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 25px;
    margin-left: 25px;
    z-index: 10;
    padding: 2em;
    padding-top: 10px
}
.display-title-up .news-details {
    position: absolute;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    z-index: 10;
    bottom: -90px;
    left: 1px;
    right: 1px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 2em;
    padding-top: 10px;
}
.titlu-produs-lista.news-title {
    background: #eaeaea;
    padding: 0 0.5em;
}
.small-block .news-title:hover {
    max-height: 224px;
}
/*START LIST DISPLAY TYPE GRID VIEW*/
.list-container {
    display: grid;
}
/*1 COLUMN*/
/*1 column No Image No Summary*/
/*1 column No Image with Summary*/
.onecol-noimage-summary .category,
.onecol-noimage-nosummary .category {
    position: initial;
}
.onecol-noimage-summary .news-details,
.onecol-noimage-nosummary .news-details {
    margin-top: 1em;
}
.onecol-noimage-summary  .small-block .news-title,
.onecol-noimage-nosummary .small-block .news-title {
    min-height: auto;
}
.onecol-noimage-summary .simple-share {
    margin-bottom: 1em;
}

/*1 column with Image No Summary*/
/*1 column with Image with Summary*/
.onecol-image-summary .small-block,
.onecol-image-nosummary .small-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
}

/*1 column with Image small No Summary */
.onecol-image-nosummary-small {
    display: block;
}

.onecol-image-nosummary-small .small-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
}
.onecol-image-summary .overlay-link,
.onecol-image-nosummary .overlay-link,
.onecol-image-nosummary-small .overlay-link {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-right: 0.5rem;
}
.onecol-image-summary header,
.onecol-image-nosummary header,
.onecol-image-nosummary-small header {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 0.5rem;
}
.onecol-image-nosummary-small .simple-share, .onecol-image-nosummary-small .category  {
    display: none;
}
.onecol-image-nosummary-small .news-title {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    overflow: initial;
    max-height: initial;
}
.onecol-image-nosummary-small .news-details {
    padding: 0;
    margin-right: 0;
}
/*2 COLUMNS*/
.twocol-noimage-nosummary, .twocol-noimage-summary, .twocol-image-nosummary, .twocol-image-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
}
.twocol-noimage-nosummary.small-block:nth-child(1),
.twocol-noimage-summary .small-block:nth-child(1),
.twocol-image-nosummary .small-block:nth-child(1),
.twocol-image-summary .small-block:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-right: 1.5rem;    
}
.twocol-noimage-nosummary.small-block:nth-child(2),
.twocol-noimage-summary .small-block:nth-child(2),
.twocol-image-nosummary .small-block:nth-child(2),
.twocol-image-summary .small-block:nth-child(2)  {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin-left: 1.5rem;
}
/*2 columns No Image No Summary*/
/*2 columns No Image with Summary*/
.twocol-noimage-summary .category,
.twocol-noimage-nosummary .category {
    position: initial;
}
.twocol-noimage-summary .news-details,
.twocol-noimage-nosummary .news-details,
.twocol-image-summary .news-details {
    margin-top: 1em;
}
.twocol-noimage-summary .simple-share,
.twocol-image-summary .simple-share{
    margin-bottom: 1em;
}

/*2 columns with Image No Summary*/
.twocol-image-nosummary .news-block  {
    margin-bottom: 110px
}
.section-template .small-block .news-details,
.author-template .small-block .news-details,
.twocol-image-nosummary .small-block .news-details {
    position: absolute;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    z-index: 10;
    bottom: -90px;
    left: 1px;
    right: 1px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 2em;
    padding-top: 10px;
}

/*3 COLUMNS*/
/*3 columns with Image No Summary*/
.threecol-image-nosummary {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}
.threecol-image-nosummary .category {
    top: 15px;
    left: 10px;
}
.threecol-image-nosummary .simple-share span {
    display: block;
}
/*END LIST DISPLAY TYPE GRID VIEW*/

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
}

.loader-icon {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ae791a;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left: ~'calc(50% - 50px)';
    top: ~'calc(50% - 50px)';
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#HomePageSlider, .sidebar-handlebars-wrapper {
    min-height: 2em; 
}
.sidebar-handlebars-wrapper.owl-carousel {
    display: block;
}
.handlebars-wrapper, #RecomandariTT, #UltimeleStiri, .first-container {   
    position: relative;
    min-height: 2em;
}
#RecomandariTT, #UltimeleStiri, .first-container, #LoopStiri {
     clear: both;
}
#myCarousel .description {
    height: 150px;
    overflow: hidden;
}

.recomandari .news-block header {
    position: absolute;
    bottom: -180px;
}

.companii-background {
    background-color: #3a5375;
}
.shop-background {
    background-color: #3f444c;
}
.list-group-item,
.pagination li {
    cursor: pointer;
}
.pagination {
    width:100%;
    text-align: center;
}
.col-companie .small-block .news-details {
    position:absolute;
}
/*PRE RENDER TEMPLATE ELEMENTS*/
.pre-render-element {
    background-color: #e4e4e4;
    width: 100%;
    margin-bottom: 1em;
}
.pre-render-element--xs {
    height: 50px;
}
.pre-render-element--md {
    height: 150px;
}
.pre-render-element--lg {
    height: 200px;
}
.pre-render-element--xl {
    height: 414px;
}
.pre-render-element--title {
    height: 25px;
}
.pre-render-element--text {
    height: 5px;
}
.carousel-companii .item.placeholder {
    margin-bottom: 120px;
}
.homepage-scule {
    margin-top: 25px !important;
}
/*PRE RENDER TEMPLATE ELEMENTS*/

.article-date {
    display: block;
}
.news-details {
    position: relative;
}
.author-box {
    clear: both;
}

#myCarousel .item>span {
    height: 50px;
}
.homepage-shop{
    margin-top:-20px!important; 
    padding-bottom: 34px; 
}
.homepage-sectiune {
    margin-top: 25px; 
    margin-bottom:0px
}
.main-content-three {
    margin-top:-12px!important;
}
.main-content-two {
    margin-top: -25px;
}
.evenimentewidget {
    margin-bottom:10px;
}

.evenimentewidget .previous {
    color: #ffa700;
}
.evenimentewidget .next {
    right: 0; 
    left: auto; 
    color: #ffa700;
}
.editorialwidget {
    margin-bottom:0px;
}
.mt-0 {
    margin-top: 0px;
}
.img-parteneri {
    max-height: 100px;
}
.mb-20 {
    margin-bottom:20px; 
}
.mb-0 {
    margin-bottom: 0px;
}
.mt-20 {
    margin-top:20px;
}
.margin-15 {
    margin-bottom:15px;
    margin-top:15px;
}
.m-0 {
    margin: 0!important;
}
.mr-02 {
    margin-right: 0.2em;
}
.produs-col-background .manufacturer {
    text-align:left; 
    font-size: 12px; 
    line-height: 1.2;
}
.black-font {
    color: black;
}
.white-font {
    color: white;
}
.float-right {
    float: right !important;
}
.float-right {
    float: left !important;
}
.excerpt {
    min-height:80px; 
    max-height:80px; 
    overflow:hidden;
}
.separator-articole h3 {
    font-size: 18px; 
    min-height:50px; 
    max-height: 50px; 
    overflow: hidden;
}
.tipcompanie4 {
    background-color: #cc0033;
}
.tipcompanie6 {
    background-color: #996633;
}
.companii-background  h3 span {
    color: #ffa700;
}
.min-height-30 {
    min-height:30px;
}
.min-height-40 {
    min-height:40px;
}
#LoopStiri h3 {
    font-size: 18px;  
    overflow: hidden;
}
.sectiune-revista {
    min-height:250px;
    text-align:center;
    dispay:block;
}
.btn-background {
    background-color:#ffa700!important;
}
.loop-stiri-figure {
    min-height: 230px;
    max-height: 230px;
}
.sectiune-container img, .lista-editii img {
    flex-shrink: 0;
}
@media (min-width: 1024px) {
    #mobile-nav {
        display: none;
    }
}
@media (max-width: 767px) {
    .twocol-image-nosummary .small-block .news-details {
        margin: 0;
        padding: 10px 10px 0;
    }
    #LoopStiri {
        padding: 15px;
    }
}