<div class="widget twitterwidget" style="margin-bottom:0px;">
	<h3 class="block-title"><span> T&amp;T @@ Twitter</span></h3>
	<div class="content">
      	<a class="twitter-timeline" data-width="365" data-height="108" data-theme="light" href="https://twitter.com/TTehnologie">Tweets by TTehnologie</a>
     </div>
</div>