   
.trim-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    -webkit-box-orient: vertical;
}

.trim-lines-1{
    -webkit-line-clamp: 1;
}

.trim-lines-2{
    -webkit-line-clamp: 2;
}

.trim-lines-3{
    -webkit-line-clamp: 3;
}

.trim-lines-4{
    -webkit-line-clamp: 4;
}