@{
	string image = GetString("Item.Imagine");
	string title = GetString("Item.Titlu");
	string text = GetString("Item.Descriere");
	string icon = GetString("Item.Icon");
	string issuuCode = GetString("Item.Revista_ISU");
}

<div class="container mt30 pb94">

			

			<div class="sixteen columns">

    	<div class="jx-section-title-1 mb40">
            <div class="jx-pre-title jx-short-border">
                <div class="jx-title-border left"></div>
                <div class="jx-title-icon"><i class="fa fa-@icon" style="color: #000 !important;"></i></div>
                <div class="jx-title-border right"></div> 
            </div>
            <div class="jx-title">@title</div>
     

      <div class="service-description mb20">
				<div class="jx-subtitle">@text</div>
			</div>
		 </div>
  		
  			<div class="container">
                 <div class="seven columns">
                    <img src="@image">
                </div>

                <div class="eight columns">
                     <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>

                     <div class="issuuWraper"><iframe width="740" height="500" src="//e.issuu.com/embed.html#@issuuCode" frameborder="0" allowfullscreen></iframe></div>
                </div>
			</div>
			

		</div>

  </div>