@{
	string background = GetString("ParagraphImage");
}

<div class="jx-container container-no-margin mt30 pb94  jx-grey-bg ">
	<div class='parallax-no-height ' style='background-position: 0px -342px;'>@background</div>
		
	@GetValue("ParagraphModule")

	</div>
</div>
