
<div class="widget multimediawidget" style="margin-bottom:20px;">
	@RenderItemList(new { 
	  ItemType = "Multimedia",
	  ListSourceType = "Area",
  	  ListSourceArea = 1,
	  ItemFieldsList = "*",
	  ListTemplate = "/ItemPublisher/List/Sidebar-Multimedia.cshtml",
	  ListPageSize = 10,
	  ListOrderBy = "",
	  ListOrderByDirection = "",
	  Filter = ""
	})
</div>
