
@Include("../../Custom/GlobalVariables.cshtml")

<h3 class="block-title">@*@GetString("Item.Title")*@<span>English Section</span></h3>

<div class="owl-carousel owl-theme">
    
      @if(GetBoolean("ItemPublisher:Items.Any")){
  
  foreach(LoopItem item in GetLoop("ItemPublisher:Items.List")){
 	 string itemTitle = item.GetString("ItemPublisher:Item.Titlu.Value");
  	 string itemImage = item.GetString("ItemPublisher:Item.ImaginePrincipala");
     string itemLink = Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(item.GetString("ItemPublisher:Item.Url"));
     string defaultImage = areaLayoutPath + "/assets/img/demo/160x100.png";
   
    
	
                      
       
            
          <div class="item">
              
              @if(!string.IsNullOrEmpty(item.GetString("ItemPublisher:Item.ImaginePrincipala"))){
                 <a href='@itemLink'><img src='@itemImage' width="160" height="100" alt="" style="max-height:140px;" /></a>
              }  else{
                 <a href='@itemLink'><img src="@areaLayoutPath/assets/img/demo/160x120.png" height="100" alt="" /></a>
              }

              <p><a href='@itemLink'>@itemTitle </a></p>  
            
         </div>                  
         

       }}

</div>

     





