@using Dynamicweb.Frontend
@Include("../../Custom/GlobalVariables.cshtml")
@Include("../../Includes/ArticleHelper.cshtml")
@*<p>Total articole: @GetInteger("Items.TotalCount")</p>*@


 
@{
var testimoniale = GetLoop("ItemPublisher:Item.Testimoniale"); 


  if(GetLoop("ItemPublisher:Item").Any()){


    	foreach(LoopItem item in testimoniale){
        
      

        string Nume = item.GetString("ItemPublisher:Item.Testimoniale.Name.Value");
        string Imagine = item.GetString("ItemPublisher:Item.Testimoniale.Image.Value");
        string articleExcerpt = item.GetString("ItemPublisher:Item.Testimoniale.Sumar");
        
      
       <div class="col-md-4">
    <div class="row">
                
                  <div class="pull-left col-md-8"> 

                                  @if(!string.IsNullOrEmpty(item.GetString("ItemPublisher:Item.Testimoniale.Image.Value"))){
                                     <img src='@Imagine' width="230" height="230" alt="" style="max-height:230px;" />
                                  }  else{
                                     <img src="http://placehold.it/300/300" height="100" alt="" />
                                  }



                  </div>
                              
                              <div class="pull-right col-md-4"><p>@articleExcerpt</p></div>
  </div>
  </div> 
   
  	}
   } 
 
 }




