<div class="author-box clearfix">
                <div class="author-avatar">
                 <img alt="" src='@GetString("Item.Poza")' class="avatar" height="110" width="110">
                  </a>
                </div>
                <div class="author-info">
                  <h3>@GetString("Item.Nume")</h3>
                  <p><strong>@GetString("Item.Functia")</strong></p>
                  <p class="author-bio">
                    @GetString("Item.Descriere")
                  </p>
                  
                </div>
              </div>