<!--@News:Search-->
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="right">
            <!--@News:RSS-->
            &nbsp;
            <!--@News:FusionGoogle-->
            &nbsp;
            <!--@News:WindowsLive-->
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <!--@LoopStart(NewsList)-->
    <tr>
        <td valign="top">
            <!--@News:SmallImage-->
        </td>
        <td valign="top" class="newsedit">
        <table>
            <tr>
                <td valign="bottom">
                    <a id="news<!--@News:ID-->" href="<!--@News:Href-->" <!--@News:LinkPopup-->>
                    <span class="h2">
                    <!--@News:Personalize.Image-->
                    <span style="color: #FF0000">
                        <!--@News:Personalize.Text-->
                    </span>
                    <!--@News:Date.ShortDate-->
                    &nbsp;(<!--@News:CategoryName-->)&nbsp;<!--@News:Heading-->
                    </span>
                    </a>&nbsp;
                </td>
                <td valign="bottom">&nbsp;<!--@News:FrontendEdit--></td>
            </tr>
        </table>
            <span class="newstext">
                <br />
                <!--@News:Manchet-->
                <!--@News:FirstXChar-->
                <br />
                <!--@News:TotalNewsLink-->
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <img height="5" src="x.gif" width="1" alt="" /></td>
    </tr>
    <!--@LoopEnd(NewsList)-->
    <tr>
        <td>
            <strong>
                <!--@News:NoNewsMessage-->
            </strong>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td colspan="2" align="right">
            <!--@News:Paging.Back-->
            &nbsp;&nbsp;<!--@News:Paging.List-->&nbsp;&nbsp;<!--@News:Paging.Forward-->
        </td>
    </tr>
</table>