<!-- Begin Main Banner -->
            <div class="mag-content clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ad728-wrapper">
                            <a href="#">
                                <img src="http://placehold.it/728x90" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
<!-- End Main Banner -->