<aside class="sidebar clearfix" style="margin-top: 34px;">  
    <div class="widget adwidget"> 
        @Include("Banners/BigBox3.cshtml")
    </div>

    <div class="widget adwidget">
        @Include("Banners/BigBox4.cshtml")       
    </div>
    <div class="widget adwidget">
        @Include("Sidebar/New_Widget-Parteneri.cshtml")
    </div>
</aside>