 <aside class="sidebar">
            <div class="widget social-links">
                <h3 class="block-title"><span>Follow us</span></h3>
                <ul class="social-list">

                    <li class="social-facebook">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="social-twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter">
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-gplus">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Google+">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="social-youtube">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li class="social-instagram">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-pinterest">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                    <li class="social-rss">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="RSS">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div><!-- .widget .social-links -->

            <div class="widget adwidget">
                <a href="#">
                    <img src="/assets/img/demo/300x250.png" alt="" />
                </a>
            </div><!-- .widget .adwidget -->

            <div class="widget">
                <h3 class="block-title"><span>Gallery widget</span></h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="flexslider">
                            <div class="featured-slider">

                                <div class="slider-item">
                                    <img src="/assets/img/demo/350x230.png" alt="" />
                                </div>

                                <div class="slider-item">
                                    <img src="/assets/img/demo/350x230.png" alt="" />
                                </div>

                                <div class="slider-item">
                                    <img src="/assets/img/demo/350x230.png" alt="" />
                                </div>

                                <div class="slider-item">
                                    <img src="/assets/img/demo/350x230.png" alt="" />
                                </div>

                                <div class="slider-item">
                                    <img src="/assets/img/demo/350x230.png" alt="" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .widget -->

            <div class="widget bannerwidget">
                <div class="widget-125 clearfix">
                    <a href="#" target="_blank">
                        <img src="/assets/img/demo/125x125.png" alt="" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="/assets/img/demo/125x125.png" alt="" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="/assets/img/demo/125x125.png" alt="" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="/assets/img/demo/125x125.png" alt="" />
                    </a>
                </div>
            </div>

        </aside><!-- End sidebar -->
