 <div class="col-md-3 col-sm-6 col-xs-12">
				  	<article class="news-block small-block">		

					  
						    <figure class="image-overlay-addon" >
                                    @if(!String.IsNullOrEmpty(logoRaw)){  
                              <img class="show-tip" title="@name" src="@logo"/>
                              }else{
                              <img class="show-tip" title="@name" src="/Files/Images/NoImage/255x168.png"/>
                              }  
						      	    
                                                  
						    </figure> 
					

					   
				  	</article>
				 </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tiptip/1.3/jquery.tipTip.minified.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tiptip/1.3/tipTip.css">

