<div class="widget searchwidget">
	<form class="searchwidget-form">
		<div class="input-group">
			<input type="text" class="form-control" name="q" id="q" placeholder='@Translate("Search...","Cauta...")' />
			<span class="input-group-btn">
            	<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
</div>