<div class="widget adwidget">
<div class="row" style="margin-bottom:50px;">
  <div class="col-xs-6">
    @Include("/Files/Templates/Designs/TTonlineNew/Custom/Banners/SmallBox1.cshtml")
  </div>
  <div class="col-xs-6">
     @Include("/Files/Templates/Designs/TTonlineNew/Custom/Banners/SmallBox2.cshtml")
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
     @Include("/Files/Templates/Designs/TTonlineNew/Custom/Banners/SmallBox3.cshtml")
  </div>
  <div class="col-xs-6">
     @Include("/Files/Templates/Designs/TTonlineNew/Custom/Banners/SmallBox4.cshtml")
  </div>
</div>
</div>