<div class="hidden-xs hidden-sm hidden-md skyscraper--right">
  <div class="sticky default">
    <span>
      <ins data-revive-zoneid="3" data-revive-id="30be11c85ce356e14970630466da228f"></ins>
    </span>
  </div>
</div>