<tr>
    <td>
    </td>
    <td colspan="7">
        <!--@News:Image-->
        <br/>
        <!--@News:ImageText-->
    </td>
    <td>
    </td>
    <td colspan="3">
        <br/>
        <span class="h1">
            <!--@News:Date.ShortDate-->
            <!--@News:Heading-->
        </span>
        <br/>
        <br/>
        <span class="h2">
            <!--@News:Manchet-->
        </span>
        <br/>
        <!--@News:Text-->
         <div style="text-align:right;">
            <small>
                <!--@News:Initials-->
            </small>
        </div>
    </td>
</tr>
<tr>
    <td colspan="12">
        &nbsp;</td>
</tr>
<tr>
    <td colspan="12">
        <!--@News:RelatedNewsGroupName--></td>
</tr>
<!--@LoopStart(News:RelatedNews)-->
<tr>
    <td colspan="3">
    </td>
    <td colspan="9">
        <a href="<!--@News:Href-->">
            <!--@News:NewsDate-->
            &nbsp;<!--@News:Heading--></a>
    </td>
</tr>
<!--@LoopEnd(News:RelatedNews)-->
<tr>
    <td>
    </td>
    <td colspan="11">
        <!--@News:BackPicture-->
        <!--@News:BackText-->
    </td>
</tr>
