<div id="compare-block"> 
  <div class="wrapper-compare-box">    
    <div id="compare-render-content"></div>
    <a href="/Default.aspx?ID=4228?Compare=" data-href='/Default.aspx?ID=4228&compare=' class="btn-compara" id="mini_compare"><i class="fa fa-exchange" aria-hidden="true"></i> @Translate("compare", "Compare")</a>
  </div>
</div>
